{% if site.giscus.repo_id != "" and site.giscus.category_id != "" %}
{% assign page_lang = page.lang | default: 'ru' %}
<section class="comments" aria-label="{{ site.data.i18n[page_lang].article.comments_title }}">
    <h2 class="comments-title">{{ site.data.i18n[page_lang].article.comments_title }}</h2>
    <script src="https://giscus.app/client.js"
            data-repo="{{ site.giscus.repo }}"
            data-repo-id="{{ site.giscus.repo_id }}"
            data-category="{{ site.giscus.category }}"
            data-category-id="{{ site.giscus.category_id }}"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="{{ page_lang }}"
            data-loading="lazy"
            crossorigin="anonymous"
            async></script>
</section>
{% endif %}
